# fly.toml app configuration file generated for pyongyang-naengmyeon-mania-mcp on 2026-01-16T12:34:54Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pyongyang-naengmyeon-mania-mcp'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
